* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.topnav, .footer {
    background-color: rgb(51, 48, 48);
    color: white;
    text-align: center;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
