* {
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

div {
    max-width: 600px;
}

.limited {
    border-style: solid;
    border-radius: 4px;
    border-width: thin;
    /* the border is only around the text */
    display: inline; 
    margin: 15px;
    padding: 5px;
    font-weight: lighter;
}

.title {
    font-weight: bold;
}

.text {
    font-weight: bold;
}

.store {
    color: rgb(15, 65, 173);
    font-size: 1.5em;
}

.store::after{
    content: '>' ;
}